.ant-btn {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0;

  &__mail {
    margin: 0 0 0 25px;
  }

  &__text {
    margin: 0 0 0 15px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
  }
}
