.sign-in-form {
  width: 478px;
  display: block;

  &_mb {
    margin-bottom: 144px !important;
  }
}

.sign-in-label {
  font-size: 18px;
  line-height: 20px;

  display: inline-block;
  margin: 0 0 4px 0;

  color: #808080;
}

.sign-in-input {
  height: 45px;

  font-size: 1.9em;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.sign-in-item {
  margin: 0 0 22px 0;
}

.sign-in-remind {
  &>span{
    font-size: 18px;
    line-height: 20px;

    background-color: transparent;
    border-color: transparent !important;

    box-shadow: 0px 2px 0px 0px var(--main-color);
    padding: 0 0 3px 0;

    color: var(--main-color);

    &:hover {
      opacity: 0.8;
    }
  }
}

.sign-in-remind_margin {
  margin: 0 0 30px 0;
}

.sign-in-btn {
  button {
    height: 41px;
    width: 258px;
    background: var(--main-color);
    border-radius: 4px;

    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;

    &:hover {
      background: rgba(164, 34, 82, 0.8);
      color: #ffffff;
      border-color: transparent;
    }

    &:active {
      background: #93214b;
    }

    &:focus {
      background: var(--main-color);
      color: #ffffff;
    }
  }
}

.sign-in {
  &__title > .page-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__input {
    padding: 0;
    border: none;
    outline: none;

    touch-action: manipulation;
  }
  &-password {
    &__wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
      min-width: 0;
      padding: 0px 11px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 1.5715;
      background-color: #fff;
      transition: all 0.3s;
      display: inline-flex;
      &::before {
        width: 0;
        visibility: hidden;
        content: "\a0";
      }
    }
  }
  &-modal {
    & > .ant-modal-content {
      padding: 39px 60px 60px !important;
      & > .ant-modal-header {
        & > .ant-modal-title {
          font-weight: bold;
          font-size: 18px;
        }
      }
      & > .ant-modal-body {
        padding: 0;
        margin-top: 46px;
        & > .modal-content__container {
          display: block;
          margin-bottom: 28px;
          & > div {
            font-size: 18px;
            line-height: 20px;

            & > span {
              color: #808080;
              margin-bottom: 4px;
            }
            & .ant-input {
              margin-bottom: 28px;
              font-size: 18px;
            }
          }
        }
      }

      & > .ant-modal-footer {
        & > div > button {
          background: var(--main-color);
          border-radius: 4px;
          width: 258px;
          height: 41px;

          &:hover {
            background: rgba(164, 34, 82, 0.8) !important;
            outline: none !important;
            border: transparent !important;
          }
          &:active {
            background: #93214b !important;
          }
        }
      }
    }
  }
}

.input-suffix {
  margin-left: 4px;
  display: flex;
  flex: none;
  align-items: center;
}

.icon[tabindex] {
  cursor: pointer;
}

.input-password-icon {
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: all 0.3s;
}

.icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon svg {
  display: inline-block;
}
