.page-title {
  width: 100%;
  padding: 13px 10px;
  border-bottom: 1px solid #d1d1d1;

  &__button {
    width: 190px;
    height: 41px;
    background: #a42252;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    &:hover {
      background: rgba(164, 34, 82, 0.8);
      outline: none !important;
      border: transparent !important;
      color: #ffffff;
    }
    &:active {
      background: #93214b;
      color: #ffffff;
    }
  }
}

.page-title__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #a42252;
}
