.selected-nav {
  font-weight: 700;
  color: #ffffff;
}

.nav-container {
  position: relative;
  z-index: 5;
  font-size: 22px;
  line-height: 20px;
  width: 100%;
  padding: 25px 55px;

  .ant-radio-button-wrapper {
    background: #314a5e;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px !important;
    color: #ffffff;
    &:hover {
      background: #314a5e;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px !important;
      color: #ffffff;
    }
  }

  .ant-radio-button-wrapper:first-child {
    border-left: 2px solid #ffffff;
  }

  .ant-radio-button-wrapper-checked::before {
    background-color: #314a5e !important;
  }

  .ant-radio-button-wrapper-checked {
    color: #314a5e !important;
    background: #ffffff !important;
    border: none !important;
    &:hover {
      color: #314a5e !important;
      background: #ffffff;
      border: none !important;
    }
  }

  .ant-btn {
    border-radius: 5px !important;
    font-size: 20px !important;
    line-height: 20px !important;
    &:first-of-type {
      margin: 0 20px 0 0;
    }
    &:active {
      background: red !important;
      border: 2px solid #fff !important;
      color: #fff !important;
    }
    &:hover {
      border: 2px solid var(--main-color) !important;
      color: var(--main-color) !important;
    }
    &.active {
      background: transparent !important;
      border: 2px solid #fff !important;
      color: #fff !important;
    }
  }

  &.ant-btn-default {
    background: transparent !important;
    border: 2px solid #fff !important;
    color: #fff !important;
  }
}

.nav-list-container {
  width: 50%;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;

  & > li.nav-list__item {
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

    transition: all 0.3s ease-in-out;

    &:hover > a {
      font-weight: 700;
      color: #ffffff;
    }
  }

  .nav-list__item.active {
    font-weight: 700;
  }

  & > li:not(:last-of-type) {
    margin: 0 33px 0 0;
  }

  .ant-dropdown-button {
    white-space: nowrap;
    margin: 0 33px 0 0;

    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active,
    .ant-dropdown-trigger,
    .ant-dropdown-open {
      background-color: transparent;
      border-color: transparent;
    }

    .ant-dropdown-trigger {
      width: 29px;
      height: 25px;
    }

    button.ant-btn.ant-btn-default:first-child {
      appearance: none;
      position: absolute;
    }
  }
}

.user-icon__img {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 2px solid #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info {
  font-size: 22px;
  line-height: 20px;

  color: #ffffff;

  margin: 0 52px 0 20px;
}
.user-log-out {
  width: 26px;
  height: 26px;
  margin: 0 52px 0 0;
  cursor: pointer;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  margin-right: 33px;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 26px;
  height: 19px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 26px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
  background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
