@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
// Mоя формула
// font-size: calc(24px + 16 * ((100vw - 320px) / (1920 - 320)));

// mixins


@mixin btn-hover {
  background: rgba(164, 34, 82, 0.8);
  color: #ffffff;
  border-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: var(--main-color);
  }
}

ol,
ul,
dl,
li,
p {
  margin: 0;
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

input,
button {
  border: none;
  font: inherit;
}
button {
  cursor: pointer;
}

// colors
$text-red-color: #a52252;
$text-link-color: #314a5e;
$dark-color: #314a5e;

:root {
  --main-color: #a42252;
  --text-color: #a52252;
  --btn-hover: rgba(164, 34, 82, 0.8);

  --transition: all 0.3s ease-in-out;

  --nav-font:  calc(12px + 10 * ((100vw - 320px) / (1920 - 320)));
}


// ============
.--flex {
  display: flex;
}

.main__container {
  max-width: 1606px;
  margin: 0 auto;
  padding: 0 2rem;
}

.--align-center {
  align-items: center;
}

.--align-start {
  align-items: flex-start;
}

.--justify-center {
  justify-content: center;
}

.--justify-start {
  justify-content: flex-start;
}

.--justify-beetwen {
  justify-content: space-between;
}

.--justify-around {
  justify-content: space-around;
}
.--justify-end {
  justify-content: flex-end;
}

.--flex-column {
  display: flex;
  flex-direction: column;
}

.--max-width {
  max-width: 1780px;
  margin: 0 auto;
}

.--menu-style {
  background: $dark-color;
  height: 68px;
  max-width: 1780px;
}

.--content-width {
  max-width: 1542px;
}

.--card-style {
  background: #ffffff;
  border: 1px solid #d1d1d1;
}

.--text-center {
  text-align: center;
}

.--margin-x-auto {
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1812px;
  padding: 0 2rem;
  margin: 0 auto;
}

.search-wrapper {
  position: relative;
  .search-label__icon {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
  }
}

.search-input {
  position: relative;
  height: 41px;

  font-size: 18px;
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
  padding: 0 0 0 45px;
}

.search-label {
  font-size: 26px;
  position: absolute;
  top: 0px;
  left: 15px;
  z-index: 2;
  width: 26px;
  height: 26px;

  &__icon {
    width: 100%;
    font-size: 26px;
    line-height: 50px !important;
  }
}

.search__btn {
  height: 41px;

  background: #a52252;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  color: #ffffff;

  transition: var(--transition);
  &:hover {
    color: #ffffff;
    background: rgba(164, 34, 82, 0.8);
  }

  &:active {
    background: #93214b;
  }
}

.button-style {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff !important;

  height: 41px !important;
  background: #a42252 !important;
  border-radius: 4px !important;

  transition: var(--transition);
  &:hover {
    background: rgba(164, 34, 82, 0.8) !important;
    outline: none !important;
    border: transparent !important;
  }
  &:active {
    background: #93214b !important;
  }
}

//

.nav-menu {
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    font-size: 18px;
    line-height: 20px;

    color: #d1d1d1;
    padding: 15px 0 15px 91px;

    position: relative;
  }

  .menu-icon {
    &:hover {
      background: rgba(255, 255, 255, 0.2) !important;
    }
    &::before {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      top: 13px;
      left: 40px;
      display: block;
      background-color: transparent;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .icon-1 {
    &::before {
      background-image: url("./assets/images/menu-1.png");
    }
  }
  .icon-2 {
    &::before {
      background-image: url("./assets/images/menu-2.png");
    }
  }
  .icon-3 {
    &::before {
      background-image: url("./assets/images/menu-3.png");
    }
  }
  .icon-4 {
    &::before {
      background-image: url("./assets/images/menu-4.png");
    }
  }
  .icon-5 {
    &::before {
      background-image: url("./assets/images/menu-5.png");
    }
  }
  .icon-6 {
    &::before {
      background-image: url("./assets/images/menu-6.png");
    }
  }
  .icon-7 {
    &::before {
      background-image: url("./assets/images/menu-7.png");
    }
  }
  .icon-8 {
    &::before {
      background-image: url("./assets/images/menu-8.png");
    }
  }
  .icon-9 {
    &::before {
      background-image: url("./assets/images/menu-9.png");
    }
  }
  .icon-10 {
    &::before {
      background-image: url("./assets/images/menu-10.png");
    }
  }
  .icon-11 {
    &::before {
      background-image: url("./assets/images/menu-11.png");
    }
  }
  .icon-12 {
    &::before {
      background-image: url("./assets/images/menu-12.png");
    }
  }
}

.accordion {
  &-wrapper {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    margin: 0 0 20px;
  }
  position: relative;

  background: #ffffff;
  color: #444;

  padding: 7px 20px;

  cursor: pointer;
  width: 100%;
  height: 58px;
  text-align: left;
  outline: none;
  transition: var(--transition);

  &:after {
    position: absolute;

    content: "";
    width: 11px;
    height: 20px;
    display: block;

    background: url("./assets/images/arrow.png") center center/contain no-repeat;

    right: 30px;
    top: 20px;
  }
  &.active:after {
    width: 20px;
    height: 11px;
    background: url("./assets/images/opened-arrow.png") center center/contain
    no-repeat;
  }
  &.active + .content-wrapper {
    opacity: 1;
    display: block;
    top: 0;
    transition: var(--transition);
  }

  & > .page-title {
    border: none;
  }
  &.active > .page-title {
    border-bottom: 1px solid #d1d1d1;
  }
}

.content-wrapper {
  padding: 30px 30px 20px;

  display: none;
  opacity: 0;
  position: relative;
  top: -99999px;
  transition: var(--transition);
}


//  GENERAL STYLES WITH LEFT SIDE MENU BAR AND RIGHT SIDE CONTENT WRAPPER

.right-side {
  flex: 0 0 89%;
  &.--content-width {
    margin: 0;
  }
  & > .ant-card.ant-card-bordered.card {
    margin: 0 0 20px;
  }

  & > .page-title {
    margin-top: 41px;
    margin-bottom: 30px;
  }
}


//  TITLE - ITEM

.item-title {
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    color: #314a5e;
  }

  &-btn {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #a42252;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 80%;
      height: 2px;
      border-bottom: 1px solid #a42252;

      bottom: -4px;
      right: 12px;
    }
  }

  &-open_padding {
    padding: 30px 30px 60px;
    .open-items_padding {
      padding: 35px 0 0;
    }
    .open-item__text {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;

      color: #333333;
    }
  }
  &-close_padding {
    padding: 20px 30px;
  }
  &_active {
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
  }
  & > .ant-btn > span {
    border-bottom: 1px solid #a42252;
  }
}
